:root {
  --heading-font-family: "Lora", serif;
  --default-font-family: "Ubuntu", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background: radial-gradient(
    circle at 0% 0.5%,
    rgb(241, 241, 242) 0.1%,
    rgb(224, 226, 228) 100.2%
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: black;
  font-weight: bold;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
h4 {
  font-size: 48px;
}

.hero {
  text-align: center;
  padding: 70px 20px;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
}

.projects h2 {
  font-family: var(--heading-font-family);
  font-size: 36px;
  font-weight: bold;
  line-height: 2;
  color: black;
}

p {
  font-family: var(--default-font-family);
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  opacity: 0.8;
}

.btn-branding {
  border-radius: 4px;
  background-color: black;
  opacity: 0.8;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.avatar {
  border-radius: 10px;
  height: 240px;
  width: 175px;
}

.col-md-6 img {
  background: #fff8f581;
  height: auto;
}

.button-link {
  border-radius: 4px;
  padding: 20px 30px;
  text-decoration: none;
  text-transform: capitalize;
  background: black;
  color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}

.content h1 {
  font-size: 58px;
  line-height: 1;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
}

.content p {
  font-size: 18px;
}

.content {
  text-align: center;
}
.content a {
  text-decoration: none;
}

.content-container {
  background: #fff;
  text-align: center;
  padding: 120px 20px;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: #fff8f581;
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .social-links a {
  text-decoration: none;
  margin: 0 20px;
  color: black;
  padding: 10px 14px;
  font-size: 18px;
  background-color: #fff8f581;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: #fff;
  background-color: black;
}

@media (max-width: 500px) {
  .hero h1 {
    font-size: 48px;
  }

  .content h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
    text-align: center;
    margin: 20px;
  }

  h4 {
    font-size: 26px;
  }

  .avatar {
    display: none;
  }

  .img-skills {
    display: block;
    text-align: center;
    width: 100%;
  }

  .certificates {
    width: 80%;
    display: block;
    text-align: center;
  }
  .introduction {
    display: none;
  }

  .portifolio img {
    display: flex;
    justify-content: center;
  }

  .button-link,
  .btn-branding {
    display: block;
    text-align: center;
    margin: 0 20px;
    padding: 20px 30px;
  }

  .projects h2 {
    font-size: 45px;
  }
  .projects p {
    font-size: 18px;
  }
  .content-container {
    text-align: center;
    padding: 60px 55px;
  }
  footer .email-link {
    font-size: 20px;
  }

  footer .contact-box {
    padding: 30px;
    margin: auto;
  }
  footer p {
    font-size: 18px;
  }

  footer a {
    text-decoration: none;
  }
}
